<div class="row">
  <div class="span8">
    <div class="boxes">
      <legend>About Spartups</legend>
      <p>At Spartups, we aim to create a one-stop resource center for every kind of entrepreneur. We’re making it easy for would-be entrepreneurs and innovators to build new projects by providing a free network of individuals with every kind of experience. Whether you have ideas to build, want to network with proven entrepreneurs, want to join an existing project, find a team or just provide assistance as an advisor, mentor or investor: Spartups is your one-stop service for everything.</p>
      <p>We believe that innovation is a result of passion, which is why we have a diverse group of members ranging from students, business professionals and proven entrepreneurs of all ages and passions to ensure resources for every kind of project from media (films, books, art) to technology (hardware, software, web).</p>
      <p>Join us today! It’s free, and you just might find your next passion project at Spartups. We’re always hosting meetups, guest speakers and other events to ensure the entrepreneur within you always has a place to collaborate.</p>
      <p>We’re currently working on our website and member profile system, but you can still join our network at the following sites:</p>

      <a href="https://www.facebook.com/groups/341892389233348/">Facebook Group</a>
      <br />
      <a href="http://www.linkedin.com/groups/Spartups-4627103?gid=4627103&trk=hb_side_g">LinkedIn</a>
      <br />
      <br />

      <p>
        If you have any questions, feel free to contact our founder:
      </p>

      <p>
        Saif Akhtar
        <br />
        (408) 806-1986
        <br />
        saif [at] spartups.com
      </p>
    </div>
  </div>
</div>
