<div class="row">
  <div class="span12" id="logo">
    <%= image_tag asset_path('logo.png') %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h1>Welcome to Spartups!</h1>
    <p>
      Spartups is a community initiative launched in San Jose, CA that
      connects first-time and experienced entrepreneurs of all backgrounds
      together to collaborate on projects they are passionate about, while
      providing them with whatever resources they need to be successful.
    </p>
    <a href="about.html" class="btn btn-primary">Learn more</a>
  </div>
</div>
<div class="row">
  <div class="span3">
    <h2>Have an idea? Not sure where to start?</h2>
    <p>
      Spartups will help you find the resources you need to build it. Attend
      one of our meetings to pitch your idea in front of other entrepreneurs
      just like yourself, and we'll help you form a team to launch your idea
      from concept to market!
    </p>
  </div>
  <div class="span3">
    <h2>Already working on startup?</h2>
    <p>
      Spartups will help you find resources to take your startup to the next
      level. Whether you need to find mentors or advisors to guide you, or
      investors to give you that little financial push - our network will
      help you grow!
    </p>
  </div>
  <div class="span3">
    <h2>Looking for your next investment?</h2>
    <p>
      The Spartups network is full of promising startup projects that have
      the potential to become the next big thing. Why not attend one of our
      meetings to see these talented entrepreneurs and their projects during
      SpartUpdates?  We're certain you'll find at least a few you'll want to
      invest in!
    </p>
  </div>
  <div class="span3">
    <h2>Partnerships? Speak at our event?</h2>
    <p>
      Spartups is all about collaborating with one another, which is why
      we're always on the lookout for strategic partnerships with every kind
      of organization. And because we meet every month, we like to add value
      for our members by having remarkable people present about their
      experiences. Interested?
    </p>
    <a href="mailto:saif@spartups.com" class="btn btn-primary">Contact Us</a>
  </div>
</div>
