<div class="row">
  <div class="span6">
    <div class="boxes">
      <legend><%= @title %></legend>
      Welcome to Silicon Valley Social Innovation Network,
      the simple social network to help you post your 
      social innovation ideas!
    </div>
  </div>
</div>
