<div class="row">
  <div class="span6">
    <div class="boxes">
      <legend><%= @title %></legend>
      Welcome to Spartups, an SJSU incubator of sorts
      the simple social network to help you post your 
      startup and projects and recruit people. This
      is super beta and alpha so feedback is appreciated.
    </div>
  </div>
</div>
