<% unless controller.action_name == 'about' %>
<div class="row">
  <div class="span8">
    <div class="boxes">
      <legend>What is this?</legend>
      <p>Spartups is a network for anyone who is looking for a project partner for anything. It could be a side project, a potential new venture, etc. Read <%= link_to "here", 'about' %> for more info.</p>
    </div>
  </div>
</div>
<% end %>
